:root {
    --primary-background-color: #0A192F;
    --secondary-background-color: #112240;
    --primary-text-color: #FFFFFF;
    --primary-button-color: #1F63E8;
  }

* {
    color: var(--primary-text-color);
  }

.ResetPasswordPromptPage {
    background-color: var(--primary-background-color);
}

.MuiBox-root {
    background-color: var(--secondary-background-color);
    border-radius: 2%;
}

.MuiBox-root a {
    text-decoration: none;
}