.ClientDashboard {
    height: 92.4vh;
}

.top,
.bottom {
    display: flex;
    justify-content: space-between;
    height: 35vh;
}

.top {
    /* background-color: red; */
    margin-top: 64px;
}

.bottom {
    /* background-color: green; */
    margin-top: 1%;
}

.fit {
    margin-top: 1%;
}
