.body {
    background-image: url('../../public/assets/landing-page.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: inherit;
    height: 91.9vh;
    display: flex;
    justify-content: center;
  }

  .body h1 {
    color: #112240;
  }
