:root {
    --primary-background-color: #0A192F;
    --secondary-background-color: #112240;
    --primary-text-color: #FFFFFF;
    --primary-button-color: #1F63E8;
  }

.MarketMakerDashboard {
    height: 100vh;
    background-color: var(--primary-background-color);
}

.LoggedInMainLayout {
    height: 100vh;
}

.top,
.bottom {
    display: flex;
    justify-content: space-between;
    height: auto;
}

.top {
    /* background-color: red; */
    margin-top: 64px;
    margin-bottom: 1%;
}

.bottom {
    /* background-color: green; */
    margin-top: 1%;
}

.fit {
    /* margin-top: 4%; */
}
