:root {
    --primary-background-color: #0A192F;
    --secondary-background-color: #112240;
    --primary-text-color: #FFFFFF;
    --primary-button-color: #1F63E8;
  }

.MarketMakerDashboard {
    height: 92.4vh;
    background-color: var(--primary-background-color);
}

.top,
.bottom {
    display: flex;
    justify-content: space-between;
}

.top {
    /* background-color: red; */
    /* margin-top: 24px; */
    margin-bottom: 4%;
}

.bottom {
    /* background-color: green; */
}

.fit,
.hp {
    margin-top: 20px;
}
